
@model List<UserDetail>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-...your-sha-256-here..." crossorigin="anonymous" />
<script src="~/js/table.js"></script>

<html>
    <head>
    </head>
    <body>
    @await Html.PartialAsync("~/Views/Shared/_TablePartial.cshtml",Model)
    </body>
</html>






<input type="hidden" id="APIBaseURL" value="@ViewBag.APIBaseURL" />
